############# OS

### macOS
.DS_Store
.DS_Store?
.localized
Untitled Folder
._*
.Spotlight-V100
.Trashes
Thumbs.db

############# Editors:

### vi/vim
[._]*.swp
*~


### emacs
*~
.#*.el

### drracket
\#*#*#
Untitled.rkt
Untitled-[0-9].rkt
Untitled-[0-9][0-9].rkt

### powerpoint:
~$*

package.bluej
*.ctxt

########### languages 
### C/C++
core
a.out
*.o
*.so
*.so.*
*.a


*.dylib
*.dSYM
*.dll
*.exe
*.app
# perhaps?:   *.x86_64  .hex .bin .i*86   *.elf *.obj *.ko


### java
*.class

# python
.pyc
.mypy_cache
__pycache__

### racket
*.zo
*.dep
compiled/



########## packages

*.dmg
*.tar
*.jar
*.gz
*.zip
*.7z
*.iso
*.rar


########### apps

### latex
*.aux
*.dvi
*.log

### unison (file-synchronizer)
*#unisondiff-


############ personal

[fgh]oo
[fgh]oo.*
[FGH]oo.java
foo[0-9]
foo[0-9].*
fooasdf
fooasdf.*
[Tt]mp